<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->
<h1>Welcome to {{title}}!</h1>
<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/admin">Admin</a>
  <a routerLink="/airline">Airline</a>
  <a routerLink="/user">User</a>
</nav>
<router-outlet></router-outlet>
<!--
<app-airline></app-airline>
<app-user></app-user>
-->
